.brandingarea {
  background-color: #f4d35e;
}

.title {
  color: #62929e;
  text-align: right;
  margin-bottom: 20px;
}

.history {
  color: white;
  color: #62929e;
}

.flex {
  display: flex;
  flex-direction: column;
}

input {
  width: 400px;
  margin-bottom: 15px;
  height: 40px;
  border: none;
  background-color: #eaeaea;
  border-radius: 30px;
  text-indent: 20px;
}

input:focus {
  outline: none;
}

textarea {
  width: 400px;
  margin-bottom: 5px;
  padding-top: 20px;
  border: none;
  background-color: #eaeaea;
  border-radius: 20px;
  text-indent: 20px;
}

.cta {
  background-color: #62929e;
  color: white;
  font-size: 20px;
  margin-top: 5px;
}

.flex-tiny {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tiny {
  padding-right: 5px;
}

.login {
  color: #e65f5c;
}

label {
  margin-bottom: 3px;
}

.main {
  color: black;
}

.search {
  margin-top: 10px;
}

.listitems {
  padding-left: 10px;
}

li {
  list-style-type: none;
  list-style: none;
  padding-bottom: 20px;
  padding-top: 18px;
  border-bottom: 1px solid #eaeaea;
}

li:last-child {
  border-bottom: none;
}

li a {
  color: #62929e;
}

li a:hover {
  text-decoration: none;
  color: #4e757f;
}

li.transItems {
  color: white;
  border-bottom: 1px solid #eaeaea;
}

.transItems {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

li.transItems:last-child {
  border-bottom: none;
}

a.transMore {
  color: white;
  font-size: 1.5em;
}

a.transLink {
  color: white;
}

a.transLink:hover {
    color: white;
}

a.transMore:hover {
  color: white;
}

a.selected {
  color: #e65f5c;
}

a.selected:hover {
  color: #e65f5c;
}

.columns {
  display: flex;
  margin-top: 20px;
}

.labels {
  padding-left: 10px;
}

.label {
  font-weight: bold;
  color: #62929e;
  border-bottom: none;
}

.return {
  padding-right: 10px;
  color: black;
}

.return:hover {
  color: black;
  text-decoration: none;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

a.logout-btn {
  color: #e65f5c;
}

a.logout-btn:hover {
  color: #e65f5c;
  text-decoration: none;
}

@media (min-width: 768px) {
  .h-md-100 {
    height: 100vh;
  }
}
