.brandingarea {
    background-color: #f4d35e;
}

.title {
    color: #62929E;
    text-align: right;
    margin-bottom: 20px;
}

.history {
    color: white;
}

.flex {
    display: flex;
    flex-direction: column;
}

input {
    width: 400px;
    margin-bottom: 15px;
    height: 40px;
    border: none;
    background-color: #EAEAEA;
    border-radius: 30px;
    text-indent: 20px;
}

input:focus {
    outline: none;
}

.cta {
    background-color: #62929E;
    color: white;
    font-size: 20px;
    margin-top: 5px;
}

.flex-tiny {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tiny {
    padding-right: 5px;
}

.login {
    color: #E65F5C;
}

label {
    margin-bottom: 3px;
}

.main {
    color: black;
}

.search {
    margin-top: 10px;
}

.listitems {
    padding-left: 10px;
}

li {
    list-style-type: none;
    list-style: none;
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid #EAEAEA;
}

li:last-child {
    border-bottom: none;
}

li a  {
    color: #62929E;
}

li a:hover {
    text-decoration: none;
    color: #4e757f;
}

li.transItems {
    color: white;
    border-bottom: 1px solid #62929E;
}

li.transItems:last-child {
    border-bottom: none;
}

@media (min-width: 768px) {
    .h-md-100 { height: 100vh; }
}